# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.dll
*.so
*.out
*.bin

# Vivado (Xilinx FPGA) files
*.jou
*.log
*.str
*.wdb
*.wcfg
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.sim/
xgui/
*.rpt
*.dcp
*.bit
*.hdf
*.mcs
*.prm
*.bs
*.xmsgs/
*.incremental_db/
*.debug/
*.ip_repo/
*.gen/
*.upgrade_log/
*.usage
*.xise
*.ise
*.ngc
*.bld
*.cmd_log
*.fpga_editor/
*.impact/
*.lso
*.mem
*.npl
*.ngr
*.xaw
*.xrpt
*.xst
*.xml
*.xwbt
*_xmsgs/
*_xdb/
*_vhdl.prj
*_synth.prj
*_map.xrpt
*_map.mrp
*_map.ngm
*_usage.xml
*_summary.xml
*_map.map
*_map.ncd
*_par.xrpt
*_par.pad
*_par.par
*_par.ptwx
*_par.unroutes
*_par.xpi
*_par.pad.txt
*_par.pad.csv
*_par.ncd
*_par.xdl
*_ngdbuild.xrpt
*_ngdbuild.log
*_ngdbuild.xmsgs/
*_ngdbuild.bit
*_ngd2edif.xrpt
*_ngc2edif.xrpt
*_psr.xrpt
*_pad.csv
*_pad.txt
*_bld.xrpt
*.tcl
*.pb
*_vhdl.prj
*_synth.prj
*_xst.xrpt
*_ngc2edif.xrpt
*_ngd2edif.xrpt
*.xise
*.ise
*_vhdl.prj
*_synth.prj
*_xst.xrpt
*_ngc2edif.xrpt
*_ngd2edif.xrpt
*.npl
*.ngr
*.xaw
*.xrpt
*.xst
*.xml
*.xwbt
*_xmsgs/
*_xdb/
*.ngc
*.bld
*.cmd_log
*.fpga_editor/
*.impact/
*.lso
*.mem

# C/C++ files
*.o
*.a
*.d

# Make/CMake files
CMakeCache.txt

# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
build/
dist/
sdist/
bdist_wheel/
*.egg-info/

# MATLAB files
*.mex*
*.mat
*.fig
*.asv
*.mdl
*.slx
*.sldd
*.p
*.autosave

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
